mixin login(idTarget = "lg_1", classDefaul = '', title = "Title")
    .modal.fade(
        id=idTarget
        tabindex='-1', 
        role='dialog', 
        aria-labelledby=idTarget+'Label', 
        aria-hidden='true')
        .modal-dialog(role='document')
            form(action="")
                .modal-content
                    .modal-header.text-light.bg-info
                        h3#loginModalLabel.modal-title.text-uppercase Đăng nhập
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            h3(aria-hidden='true') ×
                    .modal-body
                        .form-group
                            .input-group
                                .input-group-prepend
                                    span#username.input-group-text  
                                        i.fa.fa-user.fa-lg
                                input.form-control.form-control-lg(type='text', placeholder='Username', aria-label='Username', aria-describedby='username')
                        .form-group
                            .input-group
                                .input-group-prepend
                                    span#password.input-group-text  
                                        i.fa.fa-lock.fa-lg
                                input.form-control.form-control-lg(type='password', placeholder='Mật khẩu', aria-label='password', aria-describedby='password')
                        .form-group
                            button.btn.btn-primary.btn-lg.btn-block.mb-2 Đăng Nhập
                            .row.align-items-center
                                .col-md-6.text-md-left.text-center
                                    input#remember.form-control(type="checkbox")
                                    label(for="remember" checked) Nhớ tài khoản
                                .col-md-6.text-md-right.text-center
                                    a(href="#") Quên mật khẩu
                    .modal-footer
                        p.mx-auto.mb-0
                            | Chưa phải là thành viên? 
                            a(href='#', data-toggle='modal', data-target='#signupModel' data-dismiss='modal', aria-label='Close') Đăng ký tài khoản
mixin signup(idTarget = "rg_1", classDefaul = '', title = "Title")
    .modal.fade(
        id=idTarget
        tabindex='-1', 
        role='dialog', 
        aria-labelledby=idTarget+'Label', 
        aria-hidden='true')
        .modal-dialog(role='document')
            form(action="")
                .modal-content
                    .modal-header.text-light.bg-info
                        h3#registerModal.modal-title.text-uppercase Đăng ký tài khoản
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            h3(aria-hidden='true') ×
                    .modal-body
                        .row
                            .col-12
                                .form-group
                                    input.form-control.form-control-lg(type='text', placeholder='Username', aria-label='Username', aria-describedby='username') 
                            .col-12
                                .form-group
                                    input.form-control.form-control-lg(type='email', placeholder='Email Address', aria-label='email', aria-describedby='email')
                            .col-6
                                .form-group
                                    input.form-control.form-control-lg(type='text', placeholder='Full Name', aria-label='fullname', aria-describedby='fullname') 
                            .col-6
                                .form-group
                                    input.form-control.form-control-lg(type='number', placeholder='Phone number', aria-label='phone', aria-describedby='phone')
                            .col-6
                                .form-group
                                    input.form-control.form-control-lg(type='password', placeholder='Password', aria-label='password', aria-describedby='password') 
                            .col-6
                                .form-group
                                    input.form-control.form-control-lg(type='password', placeholder='Retype Password', aria-label='repassword', aria-describedby='repassword')                          
                        .form-group
                            input#accept.form-control(type="checkbox")
                            label(for="accept" checked) Chấp nhận điều khoản tham gia
                        .form-group
                            button.btn.btn-primary.btn-lg.btn-block Đăng Nhập
                            
                    .modal-footer
                        p.mx-auto.mb-0
                            |Đã là thành viên?
                            a.ml-1(href='#', data-toggle='modal', data-target='#signinModel' data-dismiss='modal', aria-label='Close') Đăng ký
