mixin listCategory
    .widget_box
        .widget_header.text-uppercase
            a.widget_title.d-block(
                data-toggle='collapse', 
                href='#productlistContent', 
                role='button', 
                aria-expanded='false', 
                aria-controls='productlistContent') Danh mục sản phẩm
        #productlistContent.collapse.show
            ul.widget_body.nolist
                li
                    a(href='/listproduct.html') Mặt nạ
                li
                    a(href='/listproduct.html') Làm sạch da
                li
                    a(href='/listproduct.html') Dưỡng da
                li
                    a(href='/listproduct.html') Trang điểm
                li
                    a(href='/listproduct.html') Chăm sóc cơ thể
mixin filter_price
    .widget_box
        .widget_header.text-uppercase
            a.widget_title.d-block(
                data-toggle='collapse', 
                href='#productlistContent-2', 
                role='button', 
                aria-expanded='false', 
                aria-controls='productlistContent-2') Khoảng Giá
        #productlistContent-2.collapse.show
            ul.widget_body.nolist
                li
                    input#price-1(type="radio", name="radio", value="1", hidden, checked)
                    label(for="price-1") Tất cả
                li
                    input#price-2(type="radio", name="radio", value="2", hidden)
                    label(for="price-2") Nhỏ hơn 100,000₫
                li
                    input#price-3(type="radio", name="radio", value="3", hidden)
                    label(for="price-3") Từ 100,000₫ - 200,000₫
                li
                    input#price-4(type="radio", name="radio", value="4", hidden)
                    label(for="price-4") Từ 200,000₫ - 300,000₫
                li
                    input#price-5(type="radio", name="radio", value="5", hidden)
                    label(for="price-5") Từ 300,000₫ - 500,000₫
                li
                    input#price-6(type="radio", name="radio", value="6", hidden)
                    label(for="price-6") Từ 500,000₫ - 600,000₫
                li
                    input#price-7(type="radio", name="radio", value="7", hidden)
                    label(for="price-7") Lớn hơn 600,000₫
mixin filter_production
    .widget_box
        .widget_header.text-uppercase
            a.widget_title.d-block(
                data-toggle='collapse', 
                href='#productlistContent-3', 
                role='button', 
                aria-expanded='false', 
                aria-controls='productlistContent-3') Khoảng Giá
        #productlistContent-3.collapse.show
            ul.widget_body.nolist
                li
                    input#company-1(type="checkbox", name="checkbox", value="1", hidden)
                    label(for="company-1") THE BODY SHOP
                li
                    input#company-2(type="checkbox", name="checkbox", value="2", hidden)
                    label(for="company-2") LANCÔME
                li
                    input#company-3(type="checkbox", name="checkbox", value="3", hidden)
                    label(for="company-3") MAYBELLINE
                li
                    input#company-4(type="checkbox", name="checkbox", value="4", hidden)
                    label(for="company-4") THEFACESHOP
                li
                    input#company-5(type="checkbox", name="checkbox", value="5", hidden)
                    label(for="company-5") Laura
                li
                    input#company-7(type="checkbox", name="checkbox", value="7", hidden)
                    label(for="company-7") SHISEIDO
                li
                    input#company-6(type="checkbox", name="checkbox", value="6", hidden)
                    label(for="company-6") Khác
mixin show_product(name = 'Sản Phẩm', id = 'product')
    .widget_box
        .widget_header.text-uppercase
            a.widget_title.d-block(
                data-toggle='collapse', 
                href='#list'+id, 
                role='button', 
                aria-expanded='false', 
                aria-controls='list'+id)=name
        .collapse.show(id='list'+id)
            ul.widget_body.nolist
                each val in items
                    li
                        a.px-3
                            .w-100.row(href="/productinfo.html")
                                img.col-3.d-block.px-0.w-100(src=val.img, alt=val.name)
                                h6.col-9.text-info=val.name
                                    span.d-block.text-danger=val.price
mixin listpost(name = "Bài viết", id = 'post')
    .widget_box
        .widget_header.text-uppercase
            a.widget_title.d-block(
                data-toggle='collapse', 
                href='#list'+id, 
                role='button', 
                aria-expanded='false', 
                aria-controls='list'+id)=name
        .collapse.show(id='list'+id)
            ul.widget_body.pl-0
                each post in posts
                    li
                        a.py-1.d-block(href="/postdetailt.html")
                            small=post.title
mixin cartstore(name = "Thông tin đơn hàng")
    .widget_box.mb-md-0.mb-3
        .widget_header.py-2
            .h5.widget_title=name
        .widget_body.px-3
            .row.py-2
                .col-md-7.text-muted
                    |Tạm tinh( #{items.length} sản phẩm)
                .col-md-5.text-md-right
                    |200.000.000đ
            .row.py-2
                .col-md-7.text-muted
                    |Phí giao hàng
                .col-md-5.text-md-right
                    |45.000đ
            .input-group.mb-3.border-top.border-muted.py-3
                input.form-control.bg-light.border-0.rounded-0(type='text', placeholder="Mã Giảm Giá", aria-label="Mã Giảm Giá", aria-describedby='selloff')
                .input-group-append
                    a#selloff.input-group-text.border-0.rounded-0.bg-info.text-light(type="button") Xác Nhận
            .row.pb-2
                .col-5.text-muted Tổng tiền
                .col-7.text-info.text-right
                    big 200.045.000đ
            .form-group
                a.btn.btn-info.btn-lg.btn-block(href="/payment.html") Tiến Hành Thanh Toán

mixin login-btn
    .widget_box.mt-2
        .widget_header.py-2
            .h5.widget_title Đăng Nhập
        .widget_body.px-4.pb-2
            .row
                a.col-12.btn.btn-outline-info.btn-lg.btn-block.text-uppercase.rounded-0(type=button, 
                    data-toggle="modal", 
                    data-target="#signinModel") 
                        |Đăng nhập quyền thành viên
                a.btn.btn-block.btn-primary.btn-lg.rounded-0.col-md-6(href="#")
                    i.fa.fa-facebook.fa-2x.mr-2
                    span acebook
                a.btn.btn-block.btn-danger.btn-lg.rounded-0.col-md-6(href="#")
                    i.fa.fa-google-plus.fa-2x.mr-2
                    span oogle
                           



